<div>
    <h1>Kryson Photography</h1>
    <ul>
        <!--li>
            <a routerLink="photos" routerLinkActive="active">
                Photos
            </a>
        </li-->
        <li>
            <a routerLink="videos" routerLinkActive="active">
                Videos
            </a>
        </li>
        <!--li>
            <a routerLink="blog" routerLinkActive="active">
                Blog
            </a>
        </li-->
        <li>
            <a href="mailto:kryson53@gmail.com" target="_blank">
                Contact
            </a>
        </li>
    </ul>
</div>